$primary: #0D0630; 
$secondary: #DACAAA;
$tertiary: #FFFBF6;
$quaternary :#544B3D;

.primary {
    color: $primary;
}

.secondary {
    color: $secondary;
}

.tertiary {
    color: $tertiary;
}

.quaternary {
    color: $quaternary;
}


@font-face {
    font-family: "assistant";
    src: url(../../fonts/Assistant-VariableFont_wght.ttf);
  }

h1, h2, h3, h4, h5, h6, p {
    font-family: "assistant";
    color: $primary;
    margin: 0px !important;
}

body {
    background-color: $tertiary;
}

.nav-btn {
    font-family: "assistant";
    font-size: 1em;
    color: $quaternary;
    text-decoration: none;
    padding: 20px; 
}

.nav-btn:hover {
    cursor: pointer;
    color: $primary;
    text-decoration: underline $secondary;

}

.nav-btn:active, .active {
    font-weight: 600;
    color: $primary;
}

.logo {
    width: 140px; 

    @media (max-width: 750px) {
        width: 120px;
        padding-left: 20px;
    }
}

.searchbar {
    font-family: "assistant";
    color: $secondary;
    background-color: $tertiary;
    border-color: $secondary;
    width: 250px;

    @media (max-width: 300) {
        width: 150px;
    }
}

.custom-btn {
    background-color: $secondary;
    color: $primary;
    font-family: "assistant";
    border-color: $secondary;

    &:hover {
    background-color: $secondary;
    color: $primary;
    font-family: "assistant";
    border-color: $secondary;
    }
    
}


.card-custom {
    background-color: $tertiary;
    border: none;
    padding: 0;
}

.border-custom {
    border-color: $secondary !important;
}

.card-img-custom {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 200px;
    object-fit: cover;
}

.inputs {
    background-color: $tertiary;
}

.profile-img-container {
    width: 100px;
    height: 100px;
}

a {
    text-decoration: none;
}

.background-color {
    background-color: $tertiary;
}

.login-btn {
    color: $primary;
    text-decoration: none;

    &:hover {
        color: $primary;
        text-decoration: underline;
    }
}

.custom-line {
    color: $secondary;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 0;
    margin-bottom: 0;
}

.custom-profile-img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
    padding: 0px;
    margin: 10px;
}

.listing-img {
    height: 450px;
    border-radius: 5px;
    object-fit: cover;

    @media (max-width: 600px) {
        height: 300px;
    }
        
}

.border-bottom {
    border-color: $secondary !important;
}

.color-primary {
    color: $primary;
}



        .mob-menu {
        background-color: $secondary;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        top: 55px;
        right: 0; 
        width: 300px;
        height: 400px;
        z-index: 999;
        border-radius: 5px 0px 0px 5px;
         
    
        li {
            padding: 20px;
            font-size: 1.2em;
        }

    }


    .fixed-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: $tertiary;
}



#listings-top {
    display: flex;
    justify-content: space-between;
    


    @media (max-width: 950px) {

        flex-wrap: wrap;

        ul {
            order: 3; 
            margin: auto;
        }
    }

    @media (max-width: 620px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    @media (max-width: 374px) {
        ul a {
            padding: 5px;
        }
    }
}

.custom-thumbnail {
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.search-thumbnail {
    height: 50px;
    width: 50px;
    object-fit: cover;
}

.custom-height {
    height: 80px;
}


.main-img {
    width: 100%;
    height: 400px; 
    object-fit: cover;
}

.live-auction {
    bottom: 40px; 
    border-radius: 5px 0px 0px 5px;
    cursor: pointer;
}